<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    {{{template}}}
</head>
<body class="layout layout-header-fixed">
<div class="layout-header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-center" href="#">
                {{{logo}}}
            </a>
            <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
                <span class="sr-only">Toggle navigation</span>
                <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
                <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
            </button>
            <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="arrow-up"></span>
                <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="{{userPic}}" alt="{{username}}">
            </span>
            </button>
        </div>
        <div class="navbar-toggleable">
            <nav id="navbar" class="navbar-collapse collapse">
                <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
                </button>
                <ul class="nav navbar-nav navbar-right">
                    <li class="visible-xs-block">
                        <h4 class="navbar-text text-center">Hi, {{username}}</h4>
                    </li>


                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
                  <span class="icon-with-child hidden-xs">
                    <span class="icon icon-bell-o icon-lg"></span>
                    <span class="badge badge-danger badge-above right">4</span>
                  </span>
                            <span class="visible-xs-block">
                    <span class="icon icon-bell icon-lg icon-fw"></span>
                    <span class="badge badge-danger pull-right">7</span>
                    Notifications
                  </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                            <div class="dropdown-header">
                                <a class="dropdown-link" href="#">Mark all as read</a>
                                <h5 class="dropdown-heading">Recent Notifications</h5>
                            </div>
                            <div class="dropdown-body">
                                <div class="list-group list-group-divided custom-scrollbar">
                                    <a class="list-group-item" href="#">
                                        <div class="notification">
                                            <div class="notification-media">
                                                <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                                            </div>
                                            <div class="notification-content">
                                                <small class="notification-timestamp">35 min</small>
                                                <h5 class="notification-heading">Update Status</h5>
                                                <p class="notification-text">
                                                    <small class="truncate">Failed to get available update data. To ensure the proper functioning of your application, update now.</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <div class="notification">
                                            <div class="notification-media">
                                                <span class="icon icon-flag bg-success rounded sq-40"></span>
                                            </div>
                                            <div class="notification-content">
                                                <small class="notification-timestamp">43 min</small>
                                                <h5 class="notification-heading">Account Contact Change</h5>
                                                <p class="notification-text">
                                                    <small class="truncate">A contact detail associated with your account {{formatedUsername}}, has recently changed.</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <div class="notification">
                                            <div class="notification-media">
                                                <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                                            </div>
                                            <div class="notification-content">
                                                <small class="notification-timestamp">1 hr</small>
                                                <h5 class="notification-heading">Failed Login Warning</h5>
                                                <p class="notification-text">
                                                    <small class="truncate">There was a failed login attempt from "192.98.19.164" into the account {{formatedUsername}}.</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="list-group-item" href="#">
                                        <div class="notification">
                                            <div class="notification-media">
                                                <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                                            </div>
                                            <div class="notification-content">
                                                <small class="notification-timestamp">4 hr</small>
                                                <h5 class="notification-heading">Garry Tamer</h5>
                                                <p class="notification-text">
                                                    <small class="truncate">I love fake meat !</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown-footer">
                                <a class="dropdown-btn" href="#">See All</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown hidden-xs">
                        <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                            <img class="rounded" width="36" height="36" src="{{userPic}}" alt="{{username}}"> {{username}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="#">
                                    <h5 class="navbar-upgrade-heading">
                                        Upgrade Now
                                        <small class="navbar-upgrade-notification">You have 15 days left in your trial.</small>
                                    </h5>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="navbar-upgrade-version">Version: 1.0.0</li>
                            <li class="divider"></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="/">Sign out</a></li>
                        </ul>
                    </li>
                    <li class="visible-xs-block">
                        <a href="#">
                            <span class="icon icon-users icon-lg icon-fw"></span>
                            Contacts
                        </a>
                    </li>
                    <li class="visible-xs-block">
                        <a href="#">
                            <span class="icon icon-user icon-lg icon-fw"></span>
                            Profile
                        </a>
                    </li>
                    <li class="visible-xs-block">
                        <a href="#">
                            <span class="icon icon-power-off icon-lg icon-fw"></span>
                            Sign out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="layout-main">
    <div class="layout-sidebar">
        <div class="layout-sidebar-backdrop"></div>
        <div class="layout-sidebar-body">
            <div class="custom-scrollbar">
                <nav id="sidenav" class="sidenav-collapse collapse">
                    <ul class="sidenav">
                        <li class="sidenav-search hidden-md hidden-lg">
                            <form class="sidenav-form" action="/">
                                <div class="form-group form-group-sm">
                                    <div class="input-with-icon">
                                        <input class="form-control" type="text" placeholder="Search…">
                                        <span class="icon icon-search input-icon"></span>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="sidenav-heading">Navigation</li>
                        <li class="sidenav-item has-subnav active">
                            <a href="dashboard-1.html" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-home"></span>
                                <span class="sidenav-label">Dashboards</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Dashboards</li>
                                <li class="active"><a href="dashboard-1.html">Dashboard 1</a></li>
                                <li><a href="dashboard-2.html">Dashboard 2</a></li>
                                <li><a href="dashboard-3.html">Dashboard 3</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item">
                            <a href="widgets.html">
                                <span class="badge badge-success">26</span>
                                <span class="sidenav-icon icon icon-th"></span>
                                <span class="sidenav-label">Widgets</span>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="page-layouts.html">
                                <span class="sidenav-icon icon icon-columns"></span>
                                <span class="sidenav-label">Page layouts</span>
                            </a>
                        </li>
                        <li class="sidenav-heading">Components</li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-briefcase"></span>
                                <span class="sidenav-label">UI Elements</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">UI Elements</li>
                                <li><a href="arrows.html">Arrows</a></li>
                                <li><a href="badges.html">Badges</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="cards.html">Cards</a></li>
                                <li><a href="dividers.html">Dividers</a></li>
                                <li><a href="files.html">Files</a></li>
                                <li><a href="flags.html">Flags</a></li>
                                <li><a href="grid-system.html">Grid system</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="labels.html">Labels</a></li>
                                <li><a href="lists.html">Lists</a></li>
                                <li><a href="pricing-cards.html">Pricing cards</a></li>
                                <li><a href="progress-bars.html">Progress bars</a></li>
                                <li><a href="spinners.html">Spinners</a></li>
                                <li><a href="toastr.html">Toastr</a></li>
                                <li><a href="typography.html">Typography</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-edit"></span>
                                <span class="sidenav-label">Forms</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Forms</li>
                                <li><a href="cropper.html">Cropper</a></li>
                                <li><a href="form-controls.html">Form controls</a></li>
                                <li><a href="form-layouts.html">Form layouts</a></li>
                                <li><a href="form-validation.html">Form validation</a></li>
                                <li><a href="form-wizard.html">Form wizard</a></li>
                                <li><a href="input-mask.html">Input mask</a></li>
                                <li><a href="md-form-controls.html">Material form controls</a></li>
                                <li><a href="md-form-validation.html">Material form validation</a></li>
                                <li><a href="pickers.html">Pickers</a></li>
                                <li><a href="select2.html">Select2</a></li>
                                <li><a href="sliders.html">Sliders</a></li>
                                <li><a href="toggles.html">Toggles</a></li>
                                <li><a href="uploader.html">Uploader</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-list"></span>
                                <span class="sidenav-label">Tables</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Tables</li>
                                <li><a href="static-tables.html">Static tables</a></li>
                                <li><a href="dynamic-tables.html">Dynamic tables</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item">
                            <a href="charts.html">
                                <span class="sidenav-icon icon icon-pie-chart"></span>
                                <span class="sidenav-label">Charts</span>
                            </a>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-map-marker"></span>
                                <span class="sidenav-label">Maps</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Maps</li>
                                <li><a href="vector-maps.html">Vector maps</a></li>
                                <li><a href="google-maps.html">Google maps</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-heading">Pages</li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-lock"></span>
                                <span class="sidenav-label">Authentication</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Authentication</li>
                                <li><a href="signup-1.html" target="_blank">Sign up 1</a></li>
                                <li><a href="signup-2.html" target="_blank">Sign up 2</a></li>
                                <li><a href="signup-3.html" target="_blank">Sign up 3</a></li>
                                <li><a href="login-1.html" target="_blank">Login 1</a></li>
                                <li><a href="login-2.html" target="_blank">Login 2</a></li>
                                <li><a href="login-3.html" target="_blank">Login 3</a></li>
                                <li><a href="password-1.html" target="_blank">Reset password 1</a></li>
                                <li><a href="password-2.html" target="_blank">Reset password 2</a></li>
                                <li><a href="password-3.html" target="_blank">Reset password 3</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item">
                            <a href="#">
                                <span class="sidenav-icon icon icon-users"></span>
                                <span class="sidenav-label">Contacts</span>
                            </a>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-envelope"></span>
                                <span class="sidenav-label">Mailbox</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Mailbox</li>
                                <li><a href="mail.html">Mail 1</a></li>
                                <li><a href="inbox.html">Mail 2</a></li>
                                <li><a href="compose.html">Compose</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item">
                            <a href="messenger.html">
                                <span class="sidenav-icon icon icon-comments"></span>
                                <span class="sidenav-label">Messenger</span>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="profile.html">
                                <span class="sidenav-icon icon icon-user"></span>
                                <span class="sidenav-label">Profile</span>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="drive.html">
                                <span class="sidenav-icon icon icon-cloud-upload"></span>
                                <span class="sidenav-label">Drive</span>
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="landing-page.html" target="_blank">
                                <span class="sidenav-badge badge badge-danger">Hot</span>
                                <span class="sidenav-icon icon icon-star"></span>
                                <span class="sidenav-label">Landing Page</span>
                            </a>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-shopping-cart"></span>
                                <span class="sidenav-label">E-commerce</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">E-commerce</li>
                                <li><a href="store.html">Store</a></li>
                                <li><a href="shopping-cart.html">Shopping cart</a></li>
                                <li><a href="product.html">Product</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-files-o"></span>
                                <span class="sidenav-label">Other pages</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Other pages</li>
                                <li><a href="blank-page.html">Blank Page</a></li>
                                <li><a href="404.html" target="_blank">404</a></li>
                                <li><a href="500.html" target="_blank">500</a></li>
                                <li><a href="invoice.html">Invoice</a></li>
                                <li><a href="us-elections.html">US elections (timeline)</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {{{body}}}
    <div class="layout-footer">
        <div class="layout-footer-body">
            {{{footer}}}
        </div>
    </div>
</div>


<script src="javascripts/vendor.min.js"></script>
<script src="javascripts/elephant.min.js"></script>
<script src="javascripts/application.min.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-83990101-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>